<section class="about">
  <h3>ABOUT ME</h3>
  <h1>
    <a
      href=""
      class="typewrite"
      data-period="2000"
      data-type='[ "Hi, I am Arya.", "Problem Solver", "Designer", "Developer", "Entrepreneur" ]'
    >
      <span class="wrap"></span>
    </a>
  </h1>
  <p>(college student) who aspires to build an e-commerce empire while also
    becoming a front end developer. I enjoy both coding and entrepreneurship.
    Although I enjoy backend programming languages, frontend is what makes me
    want to work. To establish a successful brand in the future, I want to
    combine my marketing talents with my desire to make the finest websites
    possible. My skill set is shown below:</p>
  <div class="pro-icons">
    <i class="devicon-bootstrap-plain"></i>

    <i class="devicon-c-plain"></i>

    <i class="devicon-csharp-plain"></i>

    <i class="devicon-angularjs-plain"></i>

    <i class="devicon-cplusplus-plain"></i>

    <i class="devicon-css3-plain"></i>

    <i class="devicon-dotnetcore-plain"></i>

    <i class="devicon-express-original"></i>

    <i class="devicon-github-original"></i>

    <i class="devicon-html5-plain"></i>

    <i class="devicon-java-plain"></i>

    <i class="devicon-javascript-plain"></i>

    <i class="devicon-nodejs-plain"></i>

    <i class="devicon-photoshop-plain"></i>

    <i class="devicon-php-plain"></i>

    <i class="devicon-react-original"></i>

    <i class="devicon-swift-plain"></i>

    <i class="devicon-typescript-plain"></i>

    <i class="devicon-visualstudio-plain"></i>

    <i class="devicon-vscode-plain"></i>

    <i class="devicon-webflow-original"></i>

    <i class="devicon-xcode-plain"></i>

    <i class="devicon-mongodb-plain"></i>

  </div>
</section>