<section class="banner">
    
    
    <div class="container-div">
        <h3>Hi, my name is</h3>
    <h1>Arya Chauhan</h1>
    <h1>Front-end Developer</h1>
    <a href="/about/">More</a>
    </div>
    
    
    </div>
</section>
