<section class="portfolio">
  <h2 class="header-port">Portfolio</h2>

  <section>
    <section class="portfolio-items">

      <aside class="portfolio-item">
        <article class="hover-bg">
          <a
            href="https://realestatetracker.azurewebsites.net/"
            target="_blank"
          >
            <aside class="hover-text">
              <h4>RealEstate Tracker</h4>
              <strong>ASP .Net</strong><br />
              <aside class="clearfix"></aside>
            </aside>
            <img
              src="/images/ss1.png"
              class="img-responsive"
              alt="realestatetracker-link"
            />
          </a>
        </article>
      </aside>

      <aside class="portfolio-item">
        <article class="hover-bg">
          <a
            href="https://github.com/chauhanarya007/Nike-Website.git"
            target="_blank"
          >
            <aside class="hover-text">
              <h4>Nike Website Redesign</h4>
              <strong>JavaScript</strong>

              <aside class="clearfix"></aside>
            </aside>
            <img
              src="/images/ss2.png"
              class="img-responsive"
              alt="nikewebsite-link"
            />
          </a>
        </article>
      </aside>

      <aside class="portfolio-item">
        <article class="hover-bg">
          <a
            href="https://github.com/chauhanarya007/ToDoListwebsite.git"
            target="_blank"
          >
            <aside class="hover-text">
              <h4>ToDoList Exercise</h4>
              <strong>JavaScript</strong><br />

              <aside class="clearfix"></aside>
            </aside>
            <img
              src="/images/ss3.png"
              class="img-responsive"
              alt="todolist-link"
            />
          </a>
        </article>
      </aside>

      <aside class="portfolio-item">
        <article class="hover-bg">
          <a
            href="https://github.com/chauhanarya007/AppLab.git"
            target="_blank"
          >
            <aside class="hover-text">
              <h4>AppLab Beta</h4>
              <strong>Interview Question</strong><br />
              <strong>Html/Css</strong>
              <aside class="clearfix"></aside>
            </aside>
            <img
              src="/images/ss4.png"
              class="img-responsive"
              alt="applabbeta-link"
            />
          </a>
        </article>
      </aside>

      <aside class="portfolio-item">
        <article class="hover-bg">
          <a
            href="https://github.com/chauhanarya007/Pepsi-Home-Page-Responsive-.git"
            target="_blank"
          >
            <aside class="hover-text">
              <h4>Pepsi Website Redesign</h4>
              <strong>Java Script</strong><br />

              <aside class="clearfix"></aside>
            </aside>
            <img
              src="/images/ss5.png"
              class="img-responsive"
              alt="pepsibannerwebsite-link"
            />
          </a>
        </article>
      </aside>

      <aside class="portfolio-item">
        <article class="hover-bg">
          <a
            href="https://github.com/chauhanarya007/Midterm.git"
            target="_blank"
          >
            <aside class="hover-text">
              <h4>Midterm Project</h4>
              <strong>JAVA</strong><br />

              <aside class="clearfix"></aside>
            </aside>
            <img
              src="/images/ss6.png"
              class="img-responsive"
              alt="midtermjavaapp-link"
            />
          </a>
        </article>
      </aside>

    </section>
  </section>
</section>